# Database
POSTGRES_PASSWORD=changeme_strong_password

# Django
SECRET_KEY=changeme_50_random_chars
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com

# Redis
REDIS_URL=redis://redis:6379/0

# MinIO
MINIO_ROOT_USER=vasati_admin
MINIO_ROOT_PASSWORD=changeme_minio_password
MINIO_BUCKET_NAME=vasati-documents

# SMS (Sparrow SMS Nepal)
SPARROW_SMS_TOKEN=your_sparrow_token
SPARROW_SMS_FROM=Vasati

# Payments
ESEWA_MERCHANT_CODE=your_esewa_merchant_code
ESEWA_SECRET_KEY=your_esewa_secret
KHALTI_SECRET_KEY=your_khalti_secret_key

# Police API (Phase 2)
NEPAL_POLICE_API_URL=https://api.nepalpolice.gov.np
NEPAL_POLICE_API_KEY=your_api_key

# Email (OTP via email channel)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=info@depthnepal.com
EMAIL_HOST_PASSWORD=your_gmail_app_password_16_chars
DEFAULT_FROM_EMAIL=Vasati <noreply@vasati.com>

# Frontend
VITE_API_URL=http://localhost:8000/api
VITE_APP_NAME=Vasati
